<!-- Employees page HTML view -->

<!-- Form to Add a new Employee -->
<div class="border container w-100 bg-light align-items-center g-5" id="addEmployeeForm">
  <form class="m-3" name="add">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Add new library employee</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">First Name:</label>
              <input type="text" id="fName" class="form-control" placeholder="John" required>
              <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">Last Name:</label>
              <input type="text" id="lName" class="form-control" placeholder="Doe">
          </div>
          <div class="col-3">
              <label class="form-label">Position:</label>
              <input type="text" id="position" class="form-control" placeholder="Manager">

          </div>
          <div class="col-3">
              <label class="form-label">Start Date:</label>
              <input type="date" id="startDate" class="form-control">
          </div>
          <div class="col-2 gy-3">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
      </div>
  </form>  
  </div>  

<!-- Table to display Employees -->
<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="employeesTable">
            <!-- T-Header section -->
            <thead>
                <!-- For the first row, print the name of eaach column (coming directly from the db), as a table header -->
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            <!-- T-Body section -->
            <tbody id='employeesTableBody'>
                <!-- For each row of the rest of the table, print the id, fname, lname, startDate and position, in order -->
                {{#each data}}
                <tr>
                    <td>{{this.employeeID}}</td>
                    <td>{{this.fName}}</td>
                    <td>{{this.lName}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.position}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   

<script src="./js/common.js"></script>
<script src="./js/employees.js"></script>