<!-- Holds page HTML view -->

<!-- Form to Add a new Hold -->
<div class="border container w-75 bg-light align-items-center gy-5">
    <form class="m-3" name="add" id="addHoldForm">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Create new hold</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Material:</label>
                <select id="addMaterialID" class="form-control">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}, {{this.author}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-4">
                <label class="form-label">Patron:</label>
                <select id="addPatronID" class="form-control">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-4">
                <label class="form-label">Employee:</label>
                <select id="addEmployeeID" class="form-control">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="addHoldSubmit">Submit</button>
            </div>
        </div>
    </form>    
</div>

<!-- Form to Update an existing Hold-->
<div class="border container w-75 bg-light align-items-center gy-5" id="updateHoldForm">
  <form class="m-3" name="add">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Update existing hold</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="form-label">holdID:</label>
          <select id="update-id" class="form-control">
                    <option value="">-- select one --</option>
                    {{#each data}}
                    <option value="{{this.holdID}}">{{this.holdID}}</option>
                    {{/each}}
            </select>
            <small class="form-text text-muted">Required</small>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-4">
              <label class="form-label">Material:</label>
              <select id="update-materialID" class="form-control">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}, {{this.author}}</option>
                    {{/each}}
               </select>
               <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-4">
              <label class="form-label">Patron:</label>
              <select id="update-patronID" class="form-control">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
              </select>
              <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-4">
              <label class="form-label">Employee:</label>
              <select id="update-employeeID" class="form-control">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
               </select>
          </div>
        </div>
      <div class="row mt-3">
          <div class="col-4">
              <label class="form-label">created:</label>
              <input type="datetime-local" id="update-created" class="form-control" step='1'>
              <small class="form-text text-muted">Required</small>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="update">Update</button>
          </div>
      </div>
  </form>    
</div>


<!-- Table to display Holds -->
<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="holdsTable">
            <!-- Header section -->
            <thead>
                <!-- For the first row, print the name of eaach column (coming directly from the db), as a table header -->
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <!-- Body section -->
            <tbody id="holdsTableBody">
                <!-- For each row, print the id, created date, material id, patron id, and employee id, in order -->
                {{#each data}}
                <tr id="{{this.holdID}}">
                    <td id='{{this.holdID}}ID'>{{this.holdID}}</td>
                    <td id='{{this.holdID}}created'>{{this.created}}</td>
                    <td id='{{this.holdID}}materialID'>{{this.materialID}}</td>
                    <td id='{{this.holdID}}patronID'>{{this.patronID}}</td>
                    <td id='{{this.holdID}}employeeID'>{{this.employeeID}}</td>
                    <td class="delete"><button type="button" class="btn btn-outline-danger" deleteId={{this.holdID}}>Delete</button></td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>
<script src="./js/common.js"></script>
<script src="./js/holds.js"></script>