<!-- Add a new hold -->
<div class="border container w-75 bg-light align-items-center gy-5">
    <form class="m-3" name="add" id="addHoldForm">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Create new hold</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Material:</label>
                <select id="addMaterialID" class="form-control mb-2">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.title}}, {{this.author}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-4">
                <label class="form-label">Patron:</label>
                <select id="addPatronID" class="form-control mb-2">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-4">
                <label class="form-label">Employee:</label>
                <select id="addEmployeeID" class="form-control mb-2">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="addHoldSubmit">Submit</button>
            </div>
        </div>
    </form>    
</div>

<!-- 'UPDATE' Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5" id="addMaterial">
  <form class="m-3" name="add">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Update existing hold</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="form-label">holdID:</label>
          <select id="updateHoldID" class="form-control mb-2">
                    {{#each data}}
                    <option value="{{this.holdID}}">{{this.holdID}}</option>
                    {{/each}}
            </select>
        </div>
      </div>
      <div class="row">
          <div class="col-4">
              <label class="form-label">Material:</label>
              <select id="updateMaterialID" class="form-control mb-2">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.title}}, {{this.author}}</option>
                    {{/each}}
               </select>
          </div>
          <div class="col-4">
              <label class="form-label">Patron:</label>
              <select id="updatePatronID" class="form-control mb-2">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.fName}} {{this.lName}}</option>
                    {{/each}}
              </select>
          </div>
          <div class="col-4">
              <label class="form-label">Employee:</label>
              <select id="updateEmployeeID" class="form-control mb-2">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.fName}} {{this.lName}}</option>
                    {{/each}}
               </select>
          </div>
        </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">created:</label>
              <input type="datetime-local" id="updateCreated" class="form-control mb-2">
          </div>
      </div>
      <div class="row">
          <div class="col-2">
              <button type="button" class="btn btn-primary" id="submit">Update</button>
          </div>
      </div>
  </form>    
</div>

<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="holdsTable">
            {{!-- Header section --}}
            <thead>
                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody id="holdsTableBody">
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.holdID}}</td>
                    <td>{{this.created}}</td>
                    <td>{{this.materialID}}</td>
                    <td>{{this.patronID}}</td>
                    <td>{{this.employeeID}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>
<script src="./js/common.js"></script>
<script src="./js/holds.js"></script>