<!-- 'ADD' Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5" id="addLoan ">
  <form class="m-3" name="add" id="addLoanForm">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Create new loan</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-2">
              <label class="form-label">Material:</label>
              <select id="addMaterial" class="form-control mb-3">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}, {{this.author}}</option>
                    {{/each}}
                </select>
          </div>
          <div class="col-2">
              <label class="form-label">Patron:</label>
              <select id="addPatron" class="form-control mb-3">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
          <div class="col-2">
              <label class="form-label">Employee:</label>
              <select id="addEmployee" class="form-control mb-3">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
        </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">checkout:</label>
              <input type="date" id="addCheckout" class="form-control mb-2" required>
          </div>
          <div class="col-3">
              <label class="form-label">due:</label>
              <input type="date" id="addDue" class="form-control mb-2" required>
          </div>
      </div>
      <div class="row">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
      </div>
  </form>    
</div>

<!-- 'UPDATE' Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5" id="addMaterial">
  <form class="m-3" name="add">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Update existing loan</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="form-label">loanID:</label>
          <select id="update-id" class="form-control mb-2">
                    {{#each data}}
                    <option value="{{this.loanID}}">{{this.loanID}}</option>
                    {{/each}}
                </select>
        </div>
      </div>
      <div class="row">
          <div class="col-2">
              <label class="form-label">MaterialID:</label>
              <select id="update-id" class="form-control mb-3">
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}</option>
                    {{/each}}
                </select>
          </div>
          <div class="col-2">
              <label class="form-label">PatronID:</label>
              <select id="update-patronID" class="form-control mb-3">
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
          <div class="col-2">
              <label class="form-label">EmployeeID:</label>
              <select id="update-employeeID" class="form-control mb-3">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
        </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">checkout:</label>
              <input type="date" id="update-checkout" class="form-control mb-2">
          </div>
          <div class="col-3">
              <label class="form-label">due:</label>
              <input type="date" id="update-due" class="form-control mb-2">
          </div>
          <div class="col-3">
            <label class="form-label">returned:</label>
            <input type="date" id="update-returned" class="form-control mb-2">
        </div>
      </div>
      <div class="row">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="update">Update</button>
          </div>
      </div>
  </form>    
</div>

<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="loansTable">
            {{!-- Header section --}}
            <thead>
                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody id="loansTableBody">
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.loanID}}</td>
                    <td>{{this.materialID}}</td>
                    <td>{{this.patronID}}</td>
                    <td>{{this.employeeID}}</td>
                    <td>{{this.checkout}}</td>
                    <td>{{this.due}}</td>
                    <td>{{this.returned}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   
<script src="./js/common.js"></script>
<script src="./js/loans.js"></script>