<!-- Loans page HTML view -->

<!-- Form to Add a new Loan -->
<div class="border container w-75 bg-light align-items-center gy-5" id="addLoan ">
  <form class="m-3" name="add" id="addLoanForm">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Create new loan</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">Material:</label>
              <select id="addMaterial" class="form-control" required>
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}, {{this.author}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">Patron:</label>
              <select id="addPatron" class="form-control" required>
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">Employee:</label>
              <select id="addEmployee" class="form-control">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
        </div>
      <div class="row mt-3">
          <div class="col-3">
              <label class="form-label">checkout:</label>
              <input type="date" id="addCheckout" class="form-control" required>
              <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">due:</label>
              <input type="date" id="addDue" class="form-control" required>
              <small class="form-text text-muted">Required</small>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
      </div>
  </form>    
</div>

<!-- Form to Update a Loan-->
<div class="border container w-75 bg-light align-items-center gy-5" id="updateLoanForm">
  <form class="m-3" name="add">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Update existing loan</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="form-label">loanID:</label>
          <select id="update-id" class="form-control" required>
                    <option value="">-- select one --</option>
                    {{#each data}}
                    <option value="{{this.loanID}}">{{this.loanID}}</option>
                    {{/each}}
            </select>
            <small class="form-text text-muted">Required</small>
        </div>
      </div>
      <div class="row">
          <div class="col-3">
              <label class="form-label">MaterialID:</label>
              <select id="update-materialID" class="form-control" required>
                    {{#each materials}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">PatronID:</label>
              <select id="update-patronID" class="form-control" required>
                    {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.patronID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">EmployeeID:</label>
              <select id="update-employeeID" class="form-control">
                    <option value="">Select an employee (Optional)</option>
                    {{#each employees}}
                    <option value="{{this.employeeID}}">{{this.employeeID}} {{this.fName}} {{this.lName}}</option>
                    {{/each}}
                </select>
          </div>
        </div>
      <div class="row mt-3">
          <div class="col-3">
              <label class="form-label">checkout:</label>
              <input type="date" id="update-checkout" class="form-control" required>
              <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
              <label class="form-label">due:</label>
              <input type="date" id="update-due" class="form-control" required>
              <small class="form-text text-muted">Required</small>
          </div>
          <div class="col-3">
            <label class="form-label">returned:</label>
            <input type="date" id="update-returned" class="form-control">
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="update">Update</button>
          </div>
      </div>
  </form>    
</div>


<!-- Loans Table -->
<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="loansTable">
            <!-- Header section -->
            <thead>
                <!-- For the first row, print the name of eaach column (coming directly from the db), as a table header -->
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody id="loansTableBody">
                {{!-- For each row, print the id, material ID, patron ID, Employee ID, checkout date, due date, and returned date, in order --}}
                {{#each data}}
                <tr>
                    <td id='{{this.loanID}}ID'>{{this.loanID}}</td>
                    <td id='{{this.loanID}}materialID'>{{this.materialID}}</td>
                    <td id='{{this.loanID}}patronID'>{{this.patronID}}</td>
                    <td id='{{this.loanID}}employeeID'>{{this.employeeID}}</td>
                    <td id='{{this.loanID}}checkout'>{{this.checkout}}</td>
                    <td id='{{this.loanID}}due'>{{this.due}}</td>
                    <td id='{{this.loanID}}returned'>{{this.returned}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   
<script src="./js/common.js"></script>
<script src="./js/loans.js"></script>