<!-- ADD Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5" id="addMaterialForm">
    <form class="m-3" name="add">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Add new material to library</h5>
            </div>
        </div>
        <div class="row">
            
            <div class="col-4">
                <label class="form-label">Title:</label>
                <input type="text" id="addTitle" class="form-control mb-2" placeholder="The Cat in the Hat" required>
            </div>
            <div class="col-4">
                <label class="form-label">Author:</label>
                <input type="text" id="addAuthor" class="form-control mb-2" placeholder="Dr. Seuss">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="form-label">Medium:</label>
                <input type="text" id="addMedium" class="form-control mb-2" placeholder="Book, DVD, Audiobook">
            </div>
            <div class="col-3">
                <label class="form-label">Genre:</label>
                <input type="text" id="addGenre" class="form-control mb-2" placeholder="Fiction, Non-fiction, etc.">
            </div>
            <div class="col-2">
                <label class="form-label">Total Copies:</label>
                <input type="number" id="addTotalCopies" class="form-control mb-2" placeholder="##">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="addRestricted">
                    <label class="form-check-label" for="restricted">Restricted?</label>
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </form>    
</div>


<!-- UPDATE Form Content- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5" id="updateMaterialForm">
    <form class="m-3" name="add">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Update material</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Material:</label>
                <select id="update-id" class="form-control mb-2">
                    {{#each data}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Title:</label>
                <input type="text" id="update-title" class="form-control mb-2" placeholder="The Cat in the Hat" required>
            </div>
            <div class="col-4">
                <label class="form-label">Author:</label>
                <input type="text" id="update-author" class="form-control mb-2" placeholder="Dr. Seuss">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="form-label">Medium:</label>
                <input type="text" id="update-medium" class="form-control mb-2" placeholder="Book, DVD, Audiobook">
            </div>
            <div class="col-3">
                <label class="form-label">Genre:</label>
                <input type="text" id="update-genre" class="form-control mb-2" placeholder="Fiction, Non-fiction, etc.">
            </div>
            <div class="col-2">
                <label class="form-label">Available Copies:</label>
                <input type="number" id="update-availableCopies" class="form-control mb-2" placeholder="##">
            </div>
            <div class="col-2">
                <label class="form-label">Total Copies:</label>
                <input type="number" id="update-totalCopies" class="form-control mb-2" placeholder="##">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="restricted">
                    <label class="form-check-label" for="restricted">Restricted?</label>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </form>    
</div>

<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="materialsTable">
            {{!-- Header section --}}
            <thead>
                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody id="materialsTableBody">
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.materialID}}</td>
                    <td>{{this.author}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.medium}}</td>
                    <td>{{this.restricted}}</td>
                    <td>{{this.availableCopies}}</td>
                    <td>{{this.totalCopies}}</td>
                    <td>{{this.genre}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   
<script src="./js/common.js"></script>
<script src="./js/materials.js"></script>