<!-- Material page HTML view -->

<!-- Form to Add a new Material-->
<div class="border container w-75 bg-light align-items-center gy-5" id="addMaterialForm">
    <form class="m-3" name="add">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Add new material to library</h5>
            </div>
        </div>
        <div class="row">
            
            <div class="col-4">
                <label class="form-label">Title:</label>
                <input type="text" id="addTitle" class="form-control" placeholder="The Cat in the Hat" required>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-4">
                <label class="form-label">Author:</label>
                <input type="text" id="addAuthor" class="form-control" placeholder="Dr. Seuss" >
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <label class="form-label">Medium:</label>
                <input type="text" id="addMedium" class="form-control" placeholder="Book, DVD, Audiobook" required>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-3">
                <label class="form-label">Genre:</label>
                <input type="text" id="addGenre" class="form-control" placeholder="Fiction, Non-fiction, etc.">
            </div>
            <div class="col-2">
                <label class="form-label">Total Copies:</label>
                <input type="number" id="addTotalCopies" class="form-control" placeholder="##" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="addRestricted">
                    <label class="form-check-label" for="restricted">Restricted</label>
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </form>    
</div>


<!-- Form to Update a Material-->
<div class="border container w-75 bg-light align-items-center gy-5" id="updateMaterialForm">
    <form class="m-3" name="add">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Update material</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Material:</label>
                <select id="update-id" class="form-control">
                    <option value="">-- select one --</option>
                    {{#each data}}
                    <option value="{{this.materialID}}">{{this.materialID}} {{this.title}}</option>
                    {{/each}}
                </select>
                <small class="form-text text-muted">Required</small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <label class="form-label">Title:</label>
                <input type="text" id="update-title" class="form-control" placeholder="The Cat in the Hat" required>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-4">
                <label class="form-label">Author:</label>
                <input type="text" id="update-author" class="form-control" placeholder="Dr. Seuss">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <label class="form-label">Medium:</label>
                <input type="text" id="update-medium" class="form-control" placeholder="Book, DVD, Audiobook" required>
                <small class="form-text text-muted">Required</small>
            </div>
            <div class="col-3">
                <label class="form-label">Genre:</label>
                <input type="text" id="update-genre" class="form-control" placeholder="Fiction, Non-fiction, etc.">
            </div>
            <div class="col-2">
                <label class="form-label">Available Copies:</label>
                <input type="number" id="update-availableCopies" class="form-control" placeholder="##">
            </div>
            <div class="col-2">
                <label class="form-label">Total Copies:</label>
                <input type="number" id="update-totalCopies" class="form-control" placeholder="##">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="update-restricted">
                    <label class="form-check-label" for="restricted">Restricted</label>
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="update">Update</button>
            </div>
        </div>
    </form>    
</div>

<!-- Table to display Materials -->
<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="materialsTable">
            <!-- T-Header section -->
            <thead>
                <!-- For the first row, print the name of each column (coming directly from the db), as a table header -->
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            <!-- T-Body section -->
            <tbody id="materialsTableBody">
                <!-- For each row, print the id, author, title, medium, restricted bool, availableCopies, totalCopies, and genre, in order -->
                {{#each data}}
                <tr>
                    <td id='{{this.materialID}}ID'>{{this.materialID}}</td>
                    <td id='{{this.materialID}}author'>{{this.author}}</td>
                    <td id='{{this.materialID}}title'>{{this.title}}</td>
                    <td id='{{this.materialID}}medium'>{{this.medium}}</td>
                    <td id='{{this.materialID}}restricted'>{{this.restricted}}</td>
                    <td id='{{this.materialID}}availableCopies'>{{this.availableCopies}}</td>
                    <td id='{{this.materialID}}totalCopies'>{{this.totalCopies}}</td>
                    <td id='{{this.materialID}}genre'>{{this.genre}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   
<script src="./js/common.js"></script>
<script src="./js/materials.js"></script>