

<!-- Search Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-50 bg-light align-items-center gy-5">
  <form class="m-3" id="searchPatron" method='GET' action='/patrons'>
    <div class="row">
      <div class="col">
        <h5 class="text-left">Search for a patron</h5>
        <div class="col-8">
          <input type="text" id="searchName" class="form-control mb-2" name="name" placeholder="search by name">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary" id="search">Search</button>
          <a href='/'><button type="submit" class="btn btn-light" id="search-clear">Clear</button></a>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Form to add a new patron -->
<div class="border container w-75 bg-light align-items-center gy-5">
    <form class="m-3" name="add" id="addPatronForm">
        <div class="row">
            <div class="col">
                <h5 class="text-center">Add new patron of the library</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">First Name:</label>
                <input type="text" id="fName" class="form-control mb-2" placeholder="Jane" required>
            </div>
            <div class="col-4">
                <label class="form-label">Last Name:</label>
                <input type="text" id="lName" class="form-control mb-2" placeholder="Doe" >
            </div>
            <div class="col-3">
                <label class="form-label">Birth Date:</label>
                <input type="date" id="birthDate" class="form-control mb-2" required>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="addPatronSubmit">Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- Update Form Content-- This will eventually need to submit somewhere for real-->
<div class="border container w-75 bg-light align-items-center gy-5">
  <form class="m-3" name="add" id="updatePatronForm">
      <div class="row">
          <div class="col">
              <h5 class="text-center">Update Patron</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="form-label">PatronID:</label>
          <input type="text" id="update-id" class="form-control mb-2" placeholder="###" required>
        </div>
          <div class="col-4">
              <label class="form-label">First Name:</label>
              <input type="text" id="update-fName" class="form-control mb-2" placeholder="Jane">
          </div>
          <div class="col-4">
              <label class="form-label">Last Name:</label>
              <input type="text" id="update-lName" class="form-control mb-2" placeholder="Doe" >
          </div>
          <div class="col-3">
              <label class="form-label">Birth Date:</label>
              <input type="date" id="update-birthDate" class="form-control mb-2">
          </div>
          <div class="col-1">
            <label class="form-check-label" for="restricted">Flagged:</label>
            <input class="form-check-input" type="checkbox" id="update-flagged">
        </div>
      </div>
      <div class="row">
          <div class="col-2">
              <button type="submit" class="btn btn-primary" id="update">Update</button>
          </div>
      </div>
  </form>
</div>

<div class="row gy-4 justify-content-center">
    <div class="col-11">
        <table class="table" id="patronsTable">
            {{!-- Header section --}}
            <thead>
                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th scope="col">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody id="patronsTableBody">
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each data}}
                <tr>
                    <td id='{{this.patronID}}ID'>{{this.patronID}}</td>
                    <td id='{{this.patronID}}fName'>{{this.fName}}</td>
                    <td id='{{this.patronID}}lName'>{{this.lName}}</td>
                    <td id='{{this.patronID}}birthDate'>{{this.birthDate}}</td>
                    <td id='{{this.patronID}}flagged'>{{this.flagged}}</td>
                </tr>
                {{/each}}
        </tbody>
    </div>
</div>   
<script src="./js/common.js"></script>
<script src="./js/patrons.js"></script>